{{define "updateTaskForm"}}
<form>
    <div>
        <input
            type="text"
            name="task"
            value="{{.Task}}"
            class="input is-dark"
            placeholder="Enter a task"
            required />
    </div>

    <div>
        <input type="checkbox" name="done" {{if .Done}} checked {{end}}>
    </div>

    <div>
        <button
            hx-post="/tasks"
            hx-target="#taskList"
            type="submit"
            class="button is-dark"
            style="margin-top: 10px">
            Add Task
        </button>
    </div>
</form>
{{end}}